body {
    background-color: #333;
}

#canv {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: white;
}

.toolbar_button {
    /*
    background: none;
    border: none;
    color: #FFF;
    font-family: Verdana, Geneva, sans-serif;
    */
    cursor: pointer;
}
